<div class="row row-content row-content-contact">

  <div class="col-xs-12 col-sm-6">
    <form class="form-horizontal" (ngSubmit)="sendEmail(contactForm)" #contactForm="ngForm">
      <div class="form-group" [ngClass]="{ 'has-error': firstName.touched && !firstName.valid }">
        <label for="firstName" class="col-sm-2 control-label">{{'CONTACT.FirstName' | translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="firstName" [(ngModel)]="feedback.firstName" #firstName="ngModel" required />
          <div *ngIf="firstName.touched && !firstName.valid" class="help-block">Your First name is required</div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': lastName.touched && !lastName.valid }">
        <label for="lastName" class="col-sm-2 control-label">{{'CONTACT.LastName' | translate}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="lastName" [(ngModel)]="feedback.lastName" #lastName="ngModel" required />
          <div *ngIf="lastName.touched && !lastName.valid" class="help-block">Your Last name is required</div>
        </div>
      </div>

      <div class="form-group"  [ngClass]="{ 'has-error' : email.touched && !email.valid }">
        <label for="email" class="col-sm-2 control-label">{{"CONTACT.Email" | translate}}</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" [(ngModel)]="feedback.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div *ngIf="email.touched && !email.valid" class="help-block">{{"CONTACT.InvalidEmail" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">{{"CONTACT.Message" | translate}}</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="12" name="comment" [(ngModel)]="feedback.comment" #comment="ngModel" required>
            </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">{{"CONTACT.SendMessage" | translate}}</button>
        </div>
      </div>
    </form>

    <div class="alert" [hidden]="!displayMessage">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Merci pour votre message</h3>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-4">
    <div style="text-align: center">
      <address>
        <b>Au Clos Gouzilh</b><br>
        Lieu-dit Gouzilh<br>
        17360 Saint-Aigulin<br>
        France<br><br>
        <i class="fa fa-phone"></i>: +33 5 46 490 874 / +41 79 679 17 06<br>
        <i class="fa fa-envelope"></i>:<a href="mailto:contact@auclosgouzilh.com">contact@auclosgouzilh.com</a><br>
        N 45° 8'49''<br>
        O 0° 1'24''
      </address>
    </div>
    <br>
    <div>
      <img align="center" class="img-responsive" src="assets/img/Carte_France.png" alt="auclosgouzilh">
    </div>
    <div style="text-align: center">
      <a target="_blank" href="https://www.google.ch/maps/place/Au+Clos+Gouzilh/@45.5082563,1.6755734,7z/data=!4m2!3m1!1s0x0000000000000000:0x72872e53a8024362">Google Maps</a>
    </div>
  </div>
</div>
