.row-content-contact {
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 200px;
}

.center {
  text-align: center
}

address {
  color: #0f0f0f;
  font-size: 100%;
  margin: 0px;
  text-align:center;
}
