<div class="row row-content">
  <div class="col-xs-12 col-sm-6">
      <img align="center" class="img-responsive" src="assets/img/AuClosGouzilh.png" alt="auclosgouzilh">
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-push-2">
    <img align="center" class="img-responsive" src="assets/img/home_welcome.png" alt="auclosgouzilh accueil maison">
  </div>
</div>

<div class="row row-content row-content-home">
  <div class="col-xs-12" align="center">
    <img align="center" class="img-responsive img-rounded" src="assets/img/home_maison.png" alt="auclosgouzilh">
  </div>
</div>
