<div class="row row-content">
  <div class="col-xs-12 col-sm-5">
    <img align="center" class="img-responsive" src="assets/img/AuClosGouzilhTitre_Blanc.png" alt="auclosgouzilh  title">
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-push-3">
    <img align="center" class="img-responsive" src="assets/img/home_welcome_blanc.png" alt="auclosgouzilh accueil maison">
  </div>
</div>

<div class="row row-content">
  <div class="col-xs-12" align="center">
    <img align="center" class="img-responsive img-rounded" src="assets/img/home_maison2.png" alt="auclosgouzilh  text">
  </div>
</div>
