<div class="row row-content">
  <div class="col-xs-12 col-sm-4 col-sm-push-2">
    <div class="carousel">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
        <slide *ngFor="let slide of slides; let index=index"
               [active]="slide.active">
          <img [src]="slide.image" style="margin:auto;">
          <div class="carousel-caption">
            <h2>{{slide.text}}</h2>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<div class="row row-content row-content-visit">
  <div class="col-md-9 col-md-offset-1">
    <tabset *ngIf="visits.length > 0">
      <tab *ngFor="let visit of visits"
           [heading]="visit.title"
           [active]="visit.active"
           (select)="visit.active = true"
           (deselect)="visit.active = false"
           [disabled]="visit.disabled">
        <div class="accordeon">
          <accordion [closeOthers]="oneAtATime">
            <accordion-group *ngFor="let todo of visit.todos" [heading]="todo.what">
              <p class="angular-with-newlines">{{todo.notes}}</p>
              <p *ngIf="todo.link">{{"VISIT.source" | translate}}: <a target="_blank" href="{{ todo.link }}">{{ todo.link }}</a></p>
            </accordion-group>
          </accordion>
        </div>
      </tab>
    </tabset>
  </div>
</div>


