@charset "UTF-8";

/*.container {
  width: 1400px;
  background: #F3E2A9;
}*/


.navbar {
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
  background: #e8e8e8;
  color: #333;
}

.language {
  padding: 2px 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  cursor: pointer; cursor: hand;
}

.nav-main {
  background: #e4e4e4;
  height: 50px;
}

.nav-main .nav {
  margin: 0 15px;
}

.nav-main .nav > li > a {
  height: 45px;
  color: #777;
  line-height: 1.2;
  padding: 10px 9px;
}

.nav-main .nav > li > a > i {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;
}

.active {
  color: #fff;
}
.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}

