<div class="row row-content">
  <div class="col-xs-12 col-sm-4 col-sm-push-2">
    <div class="carousel">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
        <slide *ngFor="let slide of slides; let index=index"
               [active]="slide.active">
          <img [src]="slide.image" style="margin:auto;">
          <div class="carousel-caption">
            <h2>{{slide.text}}</h2>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<div class="row row-content">
  <div class="col-md-9 col-md-offset-1">
    <h4 class="angular-with-newlines">{{ "ACTIVITIES.title" | translate }}</h4>
  </div>
</div>

<div class="row row-content row-content-activities">
  <div class="col-md-9 col-md-offset-1">
    <tabset *ngIf="activities.length > 0">
      <tab *ngFor="let activity of activities"
           [heading]="activity.title"
           [active]="activity.active"
           (select)="activity.active = true"
           (deselect)="activity.active = false"
           [disabled]="activity.disabled"
           [customClass]="customClass">
        <div class="accordeon">
          <accordion [closeOthers]="oneAtATime">
            <accordion-group *ngFor="let todo of activity.todos" [heading]="todo.what">
              <p class="angular-with-newlines">{{todo.notes}}</p>
              <p *ngIf="todo.link">{{"ACTIVITIES.source" | translate}}: <a target="_blank" href="{{ todo.link }}">{{ todo.link }}</a></p>
              <p *ngIf="todo.source">{{"ACTIVITIES.source" | translate}}: {{ todo.source }}</p>
            </accordion-group>
          </accordion>
        </div>
      </tab>
    </tabset>
  </div>
</div>


