<div class="row row-content row-content-rooms">

  <div class="col-xs-12 col-sm-8">
    <div class="media">
        <media-image-modal class="media-left media-middle" [modalImages]="imagesGouzilh"></media-image-modal>
        <div class="media-body">
          <h3 class="media-heading">{{"ROOMS.RoomGouzilh" | translate}}</h3>
          <h5>{{"ROOMS.RoomGouzilhText1" | translate}}</h5>
          <h5>{{"ROOMS.RoomGouzilhText2" | translate}}</h5>
          <h5>{{"ROOMS.RoomGouzilhText3" | translate}}</h5>
          <h5>Wifi</h5>
          <h5>{{"ROOMS.RoomGouzilhText4" | translate}}<span class="badge">85 €</span>{{"ROOMS.RoomGouzilhText5" | translate}}</h5>
          <h5>{{"ROOMS.RoomGouzilhText6" | translate}}</h5>
        </div>
    </div>
    <br/>
    <br/>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">{{"ROOMS.RoomRigalleau" | translate}}</h3>
        <h5>{{"ROOMS.RoomRigalleauText1" | translate}}</h5>
        <h5>{{"ROOMS.RoomRigalleauText2" | translate}}</h5>
        <h5>{{"ROOMS.RoomRigalleauText3" | translate}}</h5>
        <h5>Wifi</h5>
        <h5>{{"ROOMS.RoomRigalleauText4" | translate}}<span class="badge">85 €</span>{{"ROOMS.RoomRigalleauText5" | translate}}</h5>
        <h5>{{"ROOMS.RoomRigalleauText6" | translate}}</h5>
      </div>
      <media-image-modal class="media-right media-middle" [modalImages]="imagesRigalleau"></media-image-modal>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3 col-sm-push-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{"ROOMS.RoomInfo.title" | translate}}</h3>
      </div>
      <div class="panel-body">
        <p>{{"ROOMS.RoomInfo1" | translate}}</p>
        <p>{{"ROOMS.RoomInfo2" | translate}}</p>
        <p>{{"ROOMS.RoomInfo3" | translate}}</p>
        <p>{{"ROOMS.RoomInfo4" | translate}}</p>
        <p>{{"ROOMS.RoomInfo5" | translate}}</p>
        <p>{{"ROOMS.RoomInfo6" | translate}}</p>
        <p>{{"ROOMS.RoomInfo7" | translate}}</p>
      </div>
    </div>
  </div>
</div>



