<div class="row row-content">

  <div class="col-xs-12 col-sm-6">
      <img align="center" class="img-responsive" src="assets/img/AuClosGouzilh.png" alt="auclosgouzilh">
      <h4>{{"PRESENTATION.title" | translate}}</h4>
      <h5>{{"PRESENTATION.text1" | translate}}</h5>
      <h5>{{"PRESENTATION.text2" | translate}}</h5>
      <img class="img img-responsive" src="assets/img/Carte_France.png" alt="auclosgouzilh">
      <h5 align="center">Au Clos Gouzilh - Lieu-dit Gouzilh – 17360 Saint-Aigulin / France</h5>
      <h5 align="center">https://www.auclosgouzilh.com / contact@auclosgouzilh.com</h5>
      <h5 align="center">+33 5 46 490 874 / +41 79 679 17 06 / N 45°8’49’’  O 0°1’24’’</h5>
  </div>

  <div class="col-xs-12 col-sm-4 col-sm-push-2">
    <div class="row-content-presentation">
      <img align="center" class="img-responsive" src="assets/img/presentation1.png" alt="auclosgouzilh accueil maison">
    </div>
    <div class="row-content-presentation">
      <img align="center" class="img-responsive" src="assets/img/presentation2.png" alt="auclosgouzilh accueil maison">
    </div>
    <div class="row-content-presentation">
      <img align="center" class="img-responsive" src="assets/img/presentation3.png" alt="auclosgouzilh accueil maison">
    </div>
  </div>

</div>
