<div class="row row-content">
  <div class="col-xs-12 col-sm-5">
    <img align="center" class="img-responsive" src="assets/img/AuClosGouzilhTitre_Blanc.png" alt="auclosgouzilh  title">
  </div>
  <div class="col-xs-12 col-sm-3 col-sm-push-1">
    <img align="center" class="img-responsive" src="assets/img/accueil_maison.png" alt="auclosgouzilh accueil maison">
  </div>
  <div class="col-xs-12 col-sm-3 col-sm-push-1" style="margin-top: 80px">
    <img align="center" class="img-responsive" src="assets/img/accueil_jardin.png" alt="auclosgouzilh accueil jardin">
  </div>
</div>

<div class="row row-content">
  <div class="col-xs-12">
    <h2>{{"PRESENTATION.title" | translate}}</h2>
    <h4>{{"PRESENTATION.text1" | translate}}</h4>
    <h4>{{"PRESENTATION.text2" | translate}}</h4>
  </div>
</div>

<div class="row row-content">
  <div class="col-xs-12 col-sm-4">
    <img align="center" class="img-responsive" src="assets/img/Carte_France.png" alt="auclosgouzilh">
  </div>
  <div class="col-xs-12 col-sm-8" style="margin-top: 50px">
    <img align="center" class="img-responsive" src="assets/img/presentation_adresse.png" alt="auclosgouzilh text">
  </div>
</div>
